@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 229 31% 12%;
  --foreground: 227 70% 87%;

  --muted: 228 25% 20%;
  --muted-foreground: 228 35% 69%;

  --popover: 229 23% 15%;
  --popover-foreground: 227 70% 87%;

  --card: 229 23% 15%;
  --card-foreground: 227 70% 87%;

  --border: 228 25% 25%;
  --input: 228 25% 25%;

  --primary: 277 59% 72%;
  --primary-foreground: 229 31% 12%;

  --secondary: 199 76% 69%;
  --secondary-foreground: 229 31% 12%;

  --accent: 0 59% 79%;
  --accent-foreground: 229 31% 12%;

  --destructive: 1 71% 69%;
  --destructive-foreground: 229 31% 12%;

  --ring: 239 66% 85%;

  --radius: 0.5rem;
}



html {
  font-family: var(--font-raleway), sans-serif;
  font-size: 16px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import 'github-markdown-css/github-markdown.css';

.markdown-body {
  background-color: transparent;
  color: inherit;
}
